{
    "arrayAutoCollapse": false,
    "attributeGroups": ["^(id|name)$", "^class$", "^(href|src)$", "$DEFAULT", "^aria-"],
    "attributeSort": "ASC",
    "cssDeclarationSorterKeepOverrides": false,
    "overrides": [
        {
            "files": ["*.md", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": [
        "prettier-plugin-css-order",
        "prettier-plugin-jinja-template",
        "prettier-plugin-organize-attributes",
        "prettier-plugin-toml"
    ],
    "printWidth": 120,
    "tabWidth": 4
}
